@tailwind base;
@tailwind components;
@tailwind utilities;

/* .profile-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
} */

* {
  box-sizing: border-box;
}

.vismim iframe {
  border-radius: 10px;
  box-shadow: black;
}

.moments {
  columns: 4;
}

/* .grid-image {
  width: 100%;
  columns: 3;
} */